/* Montserrat Light (weight: 300) */
.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  /* Montserrat Regular (weight: 400) */
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Montserrat Medium (weight: 500) */
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  /* Montserrat Bold (weight: 700) */
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  /* Montserrat ExtraBold (weight: 800) */
  .montserrat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  
/* Letras negras por defecto */
/* .carousel-caption h1,
.carousel-caption p {
  color: black;
} */

/* Letras blancas cuando el tema es oscuro */
/* [data-bs-theme="dark"] .carousel-caption h1,
[data-bs-theme="dark"] .carousel-caption p {
  color: white;
} */

