   <!-- Final -->
  <div class="container pt-4">
    <footer class="py-3">
      <div class="row">
    
        <div class="col-6 col-md-4 mb-3">
          <h5>Nuestra Empresa</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">BRIDA INGENIERÍA DE PROYECTOS – OIL & GAS ENERGÍA SRL es una empresa que se especializa en el área de ingeniería, provisión, construcción y ejecución de proyectos de obras civiles, mecánicas, eléctricas y de instrumentación y automatización industrial.</a></li>
          </ul>
        </div>
    
        <div class="col-6 col-md-2 mb-3">
          <h5>Datos de contacto</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Telefono : 76644531 </a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Email: ***</a></li>


          </ul>
        </div>
    
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Nuestra Ubicación</h5>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3798.9193279138735!2d-63.20795515496535!3d-17.795488132104065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e81e269c370f%3A0x3edc1fb4893c7b02!2sGalaxia%20499%2C%20Santa%20Cruz%20de%20la%20Sierra!5e0!3m2!1ses!2sbo!4v1728418909278!5m2!1ses!2sbo" 
                      class="w-100" 
                      height="200" 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy" 
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-3 my-1 border-top">
        <p>&copy; 2024 Brinda S.R.L.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#tiktok"/></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/brida.bolivia_oficial/"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="https://www.facebook.com/bridabolivia"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>