

<!-- menu.html -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" aria-label="Eleventh navbar example">
    <div class="container-fluid">
      <!-- Logo con margen izquierdo para moverlo más a la izquierda -->
      <a class="navbar-brand me-4 ms-lg-5 ms-1" href="/index.html">
        <img src="/img/logo.png" alt="Logo" class="img-fluid" style="height: 50px;">
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Menú desplegable solo en móviles -->
      <div class="collapse navbar-collapse ms-lg-5 justify-content-start" id="navbarsExample09">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-5 gap-3">
          <!-- Item NOSOTROS -->
          <li class="nav-item dropdown">
            <!-- <a class="nav-link montserrat-bold d-lg-none dropdown-toggle" id="nosotrosLinkMobile" href="#" data-bs-toggle="dropdown" aria-expanded="false">NOSOTROS</a> Versión móvil con dropdown -->
            <a class="nav-link montserrat-bold d-none d-lg-block" href="/view/Nosotros.html">NOSOTROS</a> <!-- Versión escritorio sin dropdown -->
          </li>
          
          <!-- Item SERVICIOS -->
          <li class="nav-item dropdown">
            <a class="nav-link montserrat-bold d-lg-none dropdown-toggle" id="serviciosLinkMobile" href="#" data-bs-toggle="dropdown" aria-expanded="false">SERVICIOS</a>
            <a class="nav-link montserrat-bold d-none d-lg-block" href="/view/Servicios.html">SERVICIOS</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item d-lg-none" href="/view/servicios.html">Servicios</a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Diseño e Ingeniería de Obras Civiles, Mecánicas y Eléctricas.html">Diseño e Ingeniería de Obras Civiles, <br> Mecánicas y Eléctricas</a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Construcción de Obras Civiles y Arquitectónicas.html">Construcción de Obras Civiles y <br> Arquitectónicas</a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Instalación y Mantenimiento de Tanques de Almacenamiento de Hidrocarburos.html">Instalación y Mantenimiento de Tanques de <br> Almacenamiento de Hidrocarburos</a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Automatización de Procesos Industriales y Electromecánicos.html">Automatización de Procesos <br> Industriales y Electromecánicos </a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Supervisión e Inspección de Obras.html">Supervisión e Inspección de Obras</a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Precomisionado, Comisionado y Puesta en Marcha.html">Precomisionado, Comisionado y <br> Puesta en Marcha</a></li>
              <li><a class="dropdown-item" href="/view/Servicio_Capacitación de Personal Técnico.html">Capacitación de Personal Técnico</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link montserrat-bold" aria-current="page" href="/view/Proyecto.html">PROYECTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link montserrat-bold" aria-current="page" href="/view/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Whatsapp -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=+591 76644531&text=Hola, me gustaria Obtener más información" class="float pulse" target="_blank">
    <i class="fa fa-whatsapp my-float "></i>
    </a>
  